:root {
    /* colors */

    --header: rgba(0, 132, 253, 1);

    --white: rgba(255, 255, 255, 1);

    --lightblue: rgba(181, 221, 255, 1);

    --lightviolet: rgba(151, 146, 228, 1);

    --yellow: rgba(253, 193, 95, 1);

    --footer: rgba(51, 51, 51, 1);

}

* {
    font-family: 'PT Sans', sans-serif;
}

.intro .row,
.planning .row,
.partners .row,
.benefits .row,
.about .row,
.get .row {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
}

button {
    border-radius: 1rem;
    padding: 0.2rem;
    border: 0;
}

/* #region debug */
.debug [class ^="col"] {
    background: green;
    height: 100px;
    padding: 1rem;
}

.debug main>* {
    height: 500px;
}

/* #endregion debug */

/* #region header */
header {
    background-color: var(--header);
}

nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 1rem;
}

nav .logo img {
    height: 1.5rem;
}

nav ul {
    display: none;
}

nav .menu_lg * {
    margin: 0 0.5rem;
    display: none;
}

nav li>a {
    text-decoration: none;
    color: var(--white);
}

nav .menu_lg button {
    background-color: var(--white);
    color: var(--footer);
}

nav .ico_menu svg {
    fill: var(--white);
    height: 1rem;
}

/* #endregion header */
/* #region main */
/* #region intro */
.intro {
    background-color: var(--white);
    padding: 1rem 0;
}

.intro [class ^="col"] {
    background-color: var(--lightblue);
    border-radius: 1rem;
    fill: var(--header);
    max-height: 100%;
}

.intro h2 {
    color: var(--header);
}

.text_intro {
    padding: 1rem;
    text-align: center;
}

.intro p,
.intro h2 {
    padding: 1rem 0;
}

.text_intro button {
    background-color: var(--header);
    color: var(--white);
    width: 60%;
}

.intro img {
    max-width: 50%;
    aspect-ratio: 1/1;
    padding-top: 10%;
    padding-right: 10%;
}

.intro svg {
    max-width: 41%;
}

.intro .col_md_4 {
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.intro .col_md_4 p {
    text-align: center;
}

.intro .col_12 {
    align-items: center;
}

.intro .col_md_8 {
    flex-direction: column;
    padding: 1rem;
}

/* #endregion intro */
/* #region planning */
.planning {
    background-color: var(--lightviolet);
}




/* #endregion planning */
/* #region partners */
.partners {
    background-color: var(--white);
}



/* #endregion partners */
/* #region benefits */
.benefits {
    background-color: var(--lightviolet);
}


/* #endregion benefits */
/* #region about */
.about {
    background-color: var(--white);
}

/* #endregion about */
/* #endregion main */
/* #region responsive */
/* Tablet */
@media screen and (min-width:768px) and (max-width:1552px) {
    .text_intro {
        text-align: left;
    }
}

/* desktop */
@media screen and (min-width: 1552px) {

    /* header */
    nav .menu_lg * {
        display: flex;
    }

    nav .ico_menu {
        display: none;
    }

    /* main */

    .intro .col_md_8 {
        flex-direction: row;
        align-items: start;
    }


}



/* #endregion responsive */