:root {
    /* colors */

    --header: rgba(0, 132, 253, 1);

    --white: rgba(255, 255, 255, 1);

    --lightblue: rgba(181, 221, 255, 1);

    --lightviolet: rgba(151, 146, 228, 1);

    --yellow: rgba(253, 193, 95, 1);

    --footer: rgba(51, 51, 51, 1);

}

* {
    font-family: 'PT Sans', sans-serif;
}

.intro .row,
.planning .row,
.partners .row,
.benefits .row,
.about .row,
.get .row {
    width: 80%;
    margin: auto;
    flex-wrap: wrap;
    max-width: 1552px;
}

li {
    list-style-type: none;
}

button {
    border-radius: 1rem;
    padding: 0.7rem;
    border: 0;
}

/* #region debug */
.debug [class ^="col"] {
    background: green;
    height: 100px;
    padding: 1rem;
}

/* #endregion debug */

/* #region header */
header {
    background-color: var(--header);
    position: fixed;
    width: 100%;
    justify-content: center;
}

nav {

    justify-content: space-between;
    align-items: center;
    padding: 1rem 1rem;
    width: 90%;
    max-width: 1552px;
}

nav .logo img {
    height: 1.5rem;
}

nav ul {
    display: none;
}

nav .menu_lg * {
    margin: 0 0.5rem;
    display: none;
}

nav li>a {
    text-decoration: none;
    color: var(--white);
}

nav .menu_lg button {
    background-color: var(--white);
    color: var(--footer);
}

nav .ico_menu svg {
    fill: var(--white);
    height: 1rem;
}

/* #endregion header */
/* #region main */
/* #region intro */
.intro {
    background-color: var(--white);
    padding: 1rem 0;
}

.intro .col_md_8,
.intro .col_md_4,
.intro .col_12 {
    padding: 1rem;
}

.intro .container {
    background-color: var(--lightblue);
    border-radius: 1rem;
    fill: var(--header);
    flex-direction: column;
    align-items: center;
}

.intro .col_md_8 .container {
    height: 100%;
}

.intro .col_md_4 .container {
    padding: 3rem;
    justify-content: center;
}

.text_intro {
    padding: 2rem;
    text-align: center;
}

.intro .container h2 {
    color: var(--header);
}

.intro .container p {
    color: grey;
}

.intro .container p,
.intro .container h2 {
    padding: 1rem 0;
    line-height: 1.5rem;
}

.text_intro button {
    background-color: var(--header);
    color: var(--white);
    width: 50%;
    margin: auto;
}

.intro .container .img {
    align-items: flex-end;
    height: 100%;
    aspect-ratio: 1/1;
    
}

.intro img {
    max-width: 70%;
    object-fit: contain;
}

.intro svg {
    height: 25%;
    object-fit: contain;
}



/* #endregion intro */
/* #region planning */
.planning {
    background-color: var(--lightviolet);
    padding: 2rem 0;
}

.planning .row {
    flex-direction: column;
}

.planning .container {
    flex-direction: column;
    align-items: center;
    color: var(--white);
}

.planning .container p {
    padding: 1rem 0;
}

.planning .container img {
    max-width: 100%;
    object-fit: contain;
}

.planning .container_whait {
    background-color: var(--white);
    color: var(--footer);
    border-radius: 2rem;

}

.planning .container_whait p {
    padding: 1rem 0;
}

.planning .container_whait img {
    max-width: 65%;
    padding: 1rem 0;
    margin-left: 20%;
    object-fit: contain;
}

.planning .container_whait .disc {
    border-radius: 50%;
    background-color: var(--lightviolet);
    text-align: center;
    margin: auto;
    padding: 0.5rem;
    width: 11%;
}

/* #endregion planning */
/* #region partners */
.partners {
    padding: 2rem 0;
    background-color: var(--white);
    color: gray;
}

.partners h2 {
    color: var(--lightviolet);
}

.partners .container_violet {
    background-color: var(--lightviolet);
    color: var(--white);
    border-radius: 2rem;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.partners .container_violet .img {
    width: 80%;
    border-radius: 3px;
    padding: 10%;
}

.partners .container_violet .img img {
    max-width: 100%;
    object-fit: cover;
}

.partners .container_violet .text_area {
    width: 65%;
}

.partners .container_violet .text_area h2,
.partners .container_violet .text_area p {
    color: var(--white);
    font-size: 0.7rem;
    padding: 0.5rem;
}

/* #endregion partners */
/* #region benefits */
.benefits {
    background-color: var(--lightviolet);
}

.benefits .col_12,
.benefits .col_md_6,
.benefits .col_lg_4 {
    padding: 1rem;
}

.benefits .container_whait {
    background-color: var(--white);
    color: var(--lightviolet);
    border-radius: 2rem;
    padding: 1rem;
}

.benefits .container_whait h3,
.benefits .container_whait p {
    padding: 1rem 0;
}

.benefits .container_whait h3 {
    font-size: 3rem;

}

.benefits .container_whait p {
    color: gray;
}

.benefits .container_whait button {
    background-color: var(--lightviolet);
    color: var(--white);
    padding: 0.5rem 2rem;
    border: 0;
    border-radius: 1rem;
    width: 35%;
}

/* #endregion benefits */
/* #region about */
.about {
    color: gray;
    background-color: var(--white);
}

.about .container {
    padding: 10% 1rem;
    line-height: 1.5rem;
}

.about .container h2,
.about .container_id h3,
.about .container p {
    padding: 1rem 0;
}

.about .container h2,
.about .container_id h3 {
    color: var(--lightviolet);
}

.about .container h2,
.about .container_id h3 {
    font-size: 2.5rem;
}

.about .container_id {
    padding: 10% 1rem;
    line-height: 1.5rem;

}

.about .container_id h3 {
    font-size: 2rem;
}

.about .container_id .img {
    justify-content: left;
}

.about .container_id img {
    border-radius: 50%;
    width: 40%;
}

.about .container_id button {
    border-radius: 2rem;
    line-height: 1;
    background-color: var(--lightviolet);
    color: var(--white);
    font-size: 1.3rem;
    font-weight: bold;
    padding: 0.7rem 1.5rem;
}

/* #endregion about */
/* #region get */
.get {
    background-color: var(--lightviolet);
}

.get .container {
    color: var(--white);
    padding: 2% 0;
}

.get .container h4,
.get .container h3,
.get .container h2 {
    padding: 2% 0;
}

.get .container h4 {
    color: lightgray;
    font-size: 1rem;
}

.get .container h3 {
    font-size: 2rem;
}

.get .container h2 {
    color: var(--yellow);
    font-size: 3rem;
}

.get .container button {
    border-radius: 2rem;
    background-color: white;
    color: var(--lightviolet);
    width: 60%;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 800;
}

.get .container p {
    padding: 10% 0;
}

.get .container p a {
    color: var(--white);
}

/* #endregion get */
/* #endregion main */
/* #region footer */
footer {
    background-color: var(--footer);
    justify-content: center;
}

footer .container {
    text-align: center;
    color: var(--white);
    width: 60%;
}

footer .container p {
    padding: 5% 0;
}

/* #endregion footer */
/* #region responsive */
/* #region Tablet resolution*/
@media screen and (min-width:768px) and (max-width:1200px) {

    /* #region main Tablet resolution */
    /* #region intro Tablet resolution */
    .text_intro {
        text-align: left;
    }

    .intro .container .img {
        justify-content: center;
    }

    /* #endregion intro Tablet resolution */
    /* #region partners Tablet resolution */
    .partners .container_violet .text_area h2,
    .partners .container_violet .text_area p {
        font-size: 1.5rem;
        padding: 0 2.5rem;
    }

    /* #endregion partners Tablet resolution */
    /* #region benefits Tablet resolution */
    .benefits .container_whait h4 {
        font-size: 2rem;
    }

    .benefits .container_whait p {
        font-size: 1.5rem;
    }

    /* #endregion benefits Tablet resolution */
    /* #region about Tablet resolution */
    .about .container h2 {
        font-size: 3.5rem;
    }

    .about .container_id h3 {
        font-size: 2.5rem;
        line-height: 3.5rem;
    }

    .about .container_id {
        padding: 2rem 20%;
    }

    .about .container_id .img {
        justify-content: center;
    }

    .about .container_id img {
        border-radius: 50%;
        width: 100%;
    }

    /* #endregion about Tablet resolution */
    /* #region get Tablet resolution */
    .get .container {
        width: 60%;
        margin: auto;
    }

    /* #endregion get Tablet resolution */
    /* #endregion main Tablet resolution */
    /* #region footer Tablet resolution */
    footer .container {
        width: 30%;
    }

    /* #endregion footer Tablet resolution */
}

/* #endregion Tablet resolution*/
/* #region desktop resolution*/
@media screen and (min-width: 1200px) {

    /* #region header desktop resolution*/
    nav .menu_lg * {
        display: flex;
    }

    nav .ico_menu {
        display: none;
    }

    /* #endregion header desktop resolution */
    /* #region main desktop resolution*/
    /* #region intro desktop resolution*/
    .intro .col_lg_4 {
        padding: 1rem;
        align-items: center;
    }

    .intro .col_lg_4 .container {
        display: flex;
        align-items: center;
        margin: -8rem 0;
        height: 100%;

    }

    .intro .col_md_8 {
        align-items: center;
    }

    .intro .col_md_8 .container {
        flex-direction: row;
        align-items: start;
    }

    .intro .col_md_8 .container p,
    .intro .col_md_8 .container h2 {
        text-align: start;
    }

    /* #endregion intro desktop resolution */
    /* #region planning desktop resolution*/
    .planning .row {
        flex-direction: row;
        align-items: end;
        justify-content: center;
    }

    .planning .container {
        flex-direction: column;
        align-items: center;
    }

    .planning .container img {
        max-width: 79%;
    }

    .planning .container img,
    .planning .container h2,
    .planning .container p {

        padding: 3rem 0;
    }

    .planning .container_whait {
        height: 60%;
        width: 40%;
        margin-top: 20%;
        margin-bottom: 5%;
        line-height: 1.5rem;
        padding: 1rem;
    }

    .planning .container_whait .disc {
        width: 20%;
    }

    .partners .container_violet .text_area {
        width: 60%;
    }

    /* #endregion planning desktop resolution */
    /* #region partners desktop resolution */
    .partners .container_violet .text_area h2,
    .partners .container_violet .text_area p {
        font-size: 2rem;
        padding: 0 3rem;
    }

    /* #endregion partners desktop resolution  */
    /* #region benefits desktop resolution */
    .benefits .container_whait h3 {
        font-size: 4rem;
    }

    .benefits .container_whait h4 {
        font-size: 3rem;
    }

    .benefits .container_whait p {
        font-size: 2rem;
    }

    /* #endregion benefits desktop resolution */
    /* #region about desktop resolution */
    .about .container_id {
        padding: 10% 38%;
        margin-left: -20%;
    }

    .about .container_id img {
        width: 80%;
    }

    /* #endregion about desktop resolution */
    /* #region get desktop resolution */
    .get .container {
        width: 50%;
        margin: auto;
    }

    /* #endregion get desktop resolution */
    /* #endregion main desktop resolution*/
    /* #region footer desktop resolution */

    footer .container {
        width: 30%;
    }


    /* #endregion footer desktop resolution */
}

/* #endregion desktop resolution*/
/* #endregion responsive */